@import url('https://fonts.googleapis.com/css?family=Dosis');
body{
  background-color: black;
}
 #calculatorBody{
  width: 360px;
  background: bisque;
  margin: auto;
  padding: 5px;
  border-radius: 10px;
}

#answer{
  width: 225px;
  display: inline-block;
  text-align: right;
  font-family: 'Dosis', sans-serif;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background: lightgrey;
}
input {
  cursor: pointer;
  width: 65px;
  height: 65px;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  margin: 10px; 
  font-family: 'Dosis', sans-serif;
  border: none;
  outline: none;
  box-shadow: 2px 2px 4px;
  
}
#C {
   background: blue;
}
#equals{
  background: red;
}